{% extends "base.html" %}

{% block head %}
<style>
    #apiuserform .user-details,
    #apiuserform .form-actions,
    #apiuserform .additional-brands legend,
    #apiuserform .additional-brands input {
        display: none;
    }
    #apiuserform .additional-brands .checkbox {
        padding-left: 0;
    }
</style>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                
                <h3>Booking</h3>
                <table class="table table-striped table-bordered table-condensed">
                    <tbody>
                        <tr>
                            <td>Booking Id</td>
                            <td>{{ booking.getBookingId }}</td>
                        </tr>
                        <tr>
                            <td>Property:</td>
                            <td>{{ booking.getProperty.getName }} ({{ booking.getProperty.getPropref }})</td>
                        </tr>
                        <tr>
                            <td>Dates:</td>
                            <td>{{ booking.getFromDateString }} to {{ booking.getToDateString }}</td>
                        </tr>

                        {% if booking.getPets > 0 %}
                        <tr>
                            <td>Pets:</td>
                            <td>{{ booking.getPets }}</td>
                        </tr>
                        {% endif %}
                
                        {% if booking.isConfirmed %}
                        <tr>
                            <td>Tabs web booking number:</td>
                            <td>W{{ booking.getWNumber }}</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
                
                {% if booking.getCustomer %}
                    <h3>Customer</h3>
                    <table class="table table-striped table-bordered table-condensed">
                        <tbody>
                            <tr>
                                <td>Name</td>
                                <td>{{ booking.getCustomer.getFullName }}</td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td>{{ booking.getCustomer.getEmail }}</td>
                            </tr>
                            <tr>
                                <td>Address</td>
                                <td>{{ booking.getCustomer.getAddress.getFullAddress }}</td>
                            </tr>
                            <tr>
                                <td>Source</td>
                                <td>{{ booking.getCustomer.getSource.getCode }}</td>
                            </tr>
                        </tbody>
                    </table>
                {% endif %}


                <h3>Price</h3>
                <table class="table table-striped table-bordered table-condensed">
                    <tbody>
                        <tr>
                            <td>Basic Price</td>
                            <td>£{{ booking.getBasicPrice }}</td>
                        </tr>
                        <tr>
                            <td>Extras</td>
                            <td>
                                £{{ booking.getExtrasTotal }}
                                {% if booking.getExtras|length > 0 %}
                                    <br>
                                    Which includes:
                                    <br>
                                    {% for extra in booking.getExtras %}
                                        {{ extra.getDescription }} ({{ extra.getQuantity }} x £{{ extra.getPrice }} = £{{ extra.getTotalPrice }})<br>
                                    {% endfor %}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Deposit (if applicable)</td>
                            <td>£{{ booking.getDepositAmount }}</td>
                        </tr>
                        <tr>
                            <td>Total</td>
                            <td>£{{ booking.getTotalPrice }}</td>
                        </tr>
                    </tbody>
                </table>

                {% if booking.getPayments|length > 0 %}
                    <h3>Payments</h3>
                    {% for payment in booking.getPayments %}
                        <table class="table table-striped table-bordered table-condensed ">
                            <tbody>
                                <tr>
                                    <td>Amount</td>
                                    <td>£{{ payment.getAmount }}</td>
                                </tr>
                                <tr>
                                    <td>Vendor TX Code</td>
                                    <td>{{ payment.getVendorTxCode }}</td>
                                </tr>
                                <tr>
                                    <td>Status</td>
                                    <td>{{ payment.getStatus }}</td>
                                </tr>
                                <tr>
                                    <td>Status Detail</td>
                                    <td>{{ payment.getStatusDetail }}</td>
                                </tr>
                                <tr>
                                    <td>Card Type</td>
                                    <td>{{ payment.getCardType }}</td>
                                </tr>
                            </tbody>
                        </table>
                    {% endfor %}
                {% endif %}
                
                <h3>Available Extras</h3>
                <table class="table table-striped table-bordered table-condensed">
                    <thead>
                        <th>Code</th>
                        <th>Extra</th>
                        <th>Type</th>
                        <th>Price</th>
                    </thead>
                    <tbody>
                        {% for extra in booking.getAvailableExtras %}
                        <tr>
                            <td>{{ extra.getCode }}</td>
                            <td>{{ extra.getDescription }}</td>
                            <td>{{ extra.getType }}</td>
                            <td>£{{ extra.getPrice }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>

{% endblock %}
