{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <h3>Existing Users</h3>
                <div>
                    <table class="table table-striped" id="usertable">
                        <thead>
                            <tr>
                                <th>User Name</th>
                                <th>Email</th>
                                <th>Secret</th>
                                <th>Roles</th>
                                <th>Delete?</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if userException == false %}
                                {% for user in users %}
                                    <tr>
                                        <td><a href="{{ baseUrl }}/keycount/{{ user.getKey }}?brandcode={{ brandcode }}">{{ user.getKey }}</a></td>
                                        <td>{{ user.getEmail }}</td>
                                        <td>{{ user.getSecret }}</td>
                                        <td>
                                            {% for role in user.getRoles %}
                                                {{ role }}<br>
                                            {% endfor %}
                                        </td>
                                        <td><a href="#" data-url="{{ baseUrl }}/deleteuser?brandcode={{ brandcode }}" data-key="{{ user.getKey }}" data-action="delete" class="btn btn-danger btn-sm btn-delete">Delete</a></td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr><td colspan="5">{{ userException }}</td></tr>
                            {% endif %}                    
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <h3>API Settings</h3>
                <div class="col-md-8">
                    <table class="table table-striped" id="settingtable">
                        <thead>
                            <tr>
                                <th>Setting</th>
                                <th>Brand</th>
                                <th>Value</th>
                                <th>Delete?</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if settingException == false %}
                                {% for setting in settings %}
                                    <tr>
                                        <td>{{ setting.getName }}</td>
                                        <td>{{ setting.getBrandcode }}</td>
                                        <td>{{ setting.getValue }}</td>
                                        <td><a href="#" data-url="{{ baseUrl }}/deletesetting?brandcode={{ brandcode }}" data-key="{{ setting.getName }}" data-brandcode="{{ setting.getBrandcode }}" data-action="delete-setting" class="btn btn-danger btn-sm btn-delete">Delete</a></td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr><td colspan="4">{{ settingException }}</td></tr>
                            {% endif %}                    
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4">
                    {{ sForm|raw }}
                    
                    <button class="btn btn-success btn-lg" id="checkhmac" style="position: absolute; margin-top: -55px; margin-left: 135px;">Check Setting</button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <h3>New Users</h3>
            {{ form|raw }}
        </div>
    </div>

{% endblock %}

{% block javascript %}

    // Delete functionality
    jQuery(document).ready(function() {
        // Delete button actions
        jQuery('body').delegate('.btn-danger', 'click', function() {
            $btn = jQuery(this);
            $tr = $btn.parent().parent();
            bootbox.confirm("Are you sure?", function(result) {
                if (result === true) {
                    jQuery.postJSON($btn.data('url'), $btn.data(), function(res) {
                        if (res.status === 'success') {
                            $tr.remove();
                        } else {
                            bootbox.alert(res.message);
                        }
                    });
                }
            });
        });
        
        // Submit handler
        jQuery('#formsubmit').click(function() {
            $form = jQuery(this).closest('form');
            $brands = jQuery('.additional-brands input:checked', $form);
            jQuery('.alert, .help-block', $form).remove();
            jQuery('.has-error', $form).removeClass('has-error');
            if ($brands.size() > 0) {
                jQuery.each($brands, function (index, cb) {
                    $cb = jQuery(cb);
                    formPost(
                        $form,
                        $cb.attr('name'),
                        function(json) {
                            $ele = jQuery('input#' + json.brandcode, $form);
                            if (json.status === 'success') {
                                $ele.parent().append(
                                    '<span class="label label-success">Created!</span>'
                                );
                            } else {
                                $ele.parent().append(
                                    '<span class="label label-danger">' + json.message + '</span>'
                                );
                            }
                        }
                    );
                });
            } else {
                formPost(
                    $form,
                    '{{ brandcode }}',
                    function(json) {
                        $form.prepend(
                            '<div class="alert alert-' + json.status + '">' + json.message + '</div>'
                        );
                        if (json.status === 'success') {
                            refreshUsers()
                        } else {
                            jQuery.each(json.fields, function (key, value) {
                                jQuery('#' + key, $form).parent().append(
                                    '<span class="help-block">' + value + '</span>'
                                ).parent().addClass('has-error');
                            });
                        }
                    }
                );
            }
            return false;
        });
        
        jQuery('#checkhmac').click(function() {
            $brands = jQuery('.additional-brands input');
            jQuery('.alert, .help-block, span.label').remove();
            jQuery('.has-error').removeClass('has-error');
            $form = jQuery('#settingsform');
            
            if ($brands.size() > 0) {
                jQuery.each($brands, function (index, cb) {
                    $cb = jQuery(cb);
                    jQuery.postJSON(
                        'index.php/checksetting?brandcode=' + $cb.attr('name'),
                        $form.serialize(),
                        function (json) {
                            jQuery('input[name='+json.brandcode+']').parent().append(
                                '<span class="label label-' + json.status + '">' + json.message + '</span>'
                            );
                        }
                    );
                });
            } else {
                jQuery('#settingsform').prepend(
                    '<div class="alert alert-info">No brands to check</div>'
                );
            }
        });
        
        // Submit handler
        jQuery('#formsubmitsetting').click(function() {
            $form = jQuery(this).closest('form');
            $brands = jQuery('.additional-brands input:checked', $form);
            jQuery('.alert, .help-block', $form).remove();
            jQuery('.has-error', $form).removeClass('has-error');
            
            formPost(
                $form,
                '{{ brandcode }}',
                function(json) {
                    $form.prepend(
                        '<div class="alert alert-' + json.status + '">' + json.message + '</div>'
                    );
                    if (json.status === 'success') {
                        refreshSettings()
                    } else {
                        jQuery.each(json.fields, function (key, value) {
                            jQuery('#' + key, $form).parent().append(
                                '<span class="help-block">' + value + '</span>'
                            ).parent().addClass('has-error');
                        });
                    }
                }
            );
            return false;
        });
    });
    
    function formPost(form, brandcode, callback) {
        jQuery.postJSON(
            form.attr('action') + '?brandcode=' + brandcode, 
            form.serialize(),
            callback
        );
    }
    
    function refreshUsers() {
        refresh('#usertable');
    }
    
    function refreshSettings() {
        refresh('#settingtable');
    }
    
    function refresh(id) {
        $.ajax('{{ baseUrl }}?brandcode={{ brandcode }}',{
            dataFilter: function(data, type) {
                type = type || 'text';
                if(type == 'html' || type == 'text') {
                    return data.replace(/<script.*?>([\w\W\d\D\s\S\0\n\f\r\t\v\b\B]*?)<\/script>/gi, '');
                }
                return data;
            }, 
            success: function(response) {
                jQuery(id).parent().html(
                    jQuery(id, $.parseHTML(response)).parent().html()
                );
            }
        });
    }

{% endblock %}