{% extends "base.html" %}

{% block head %}
<style>
    .price-check label {
        display: block;
    }
    .price-check .party-size input {
        width: 20px;
    }
</style>
{% endblock %}

{% block content %}

<h3>Price Checker</h3>
<p>Enter the form below to request a price from the api.</p>

{% if exception is not null %}
    <p class="alert alert-danger">{{ exception }}</p>
{% endif %}

{% if booking is not null %}
<div class="well">
    <h4>Booking<small> [<a href="{{ baseUrl }}/booking/{{ booking.getBookingId }}?brandcode={{ brandcode }}">view request</a>]</small></h4>
    <ul>
        <li>From: {{ booking.getFromDateString() }}</li>
        <li>Till: {{ booking.getToDateString() }}</li>
        <li>Basic Price: &pound;{{ booking.getBasicPrice() }}</li>
        <li>Extras: &pound;{{ booking.getExtrasTotal() }}</li>
        <li>Total Price: &pound;{{ booking.getTotalPrice() }}</li>
        <li>Deposit Price: &pound;{{ booking.getDepositAmount() }}</li>
    </ul>
</div>
{% endif %}

{{ enquiryForm|raw }}

{% endblock %}